name: applist_detector_flutter
description: A Flutter ported library to detect suspicious apps like Magisk manager, Xposed framework, Abnormal Environment, running emulator and much more
version: 0.0.1
homepage: "https://github.com/AhmedAbouelkher/security_tester"

environment:
  sdk: '>=2.19.2 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ahmed.applist_detector_flutter
        pluginClass: ApplistDetectorFlutterPlugin